<div class="carousel" role="region" aria-roledescription="carousel" aria-label="Image Carousel" tabindex="0" [attr.aria-live]="getAriaLive()">
  <div class="carousel-track" [style.transform]="'translateX(-' + (currentIndex * 100) + '%)'">
    <div *ngFor="let item of items; let i = index" class="carousel-item" [attr.aria-hidden]="!isActive(i)" role="group" aria-roledescription="slide">
      <img [src]="item.src" [alt]="item.alt">
    </div>
  </div>
   <button class="carousel-button pause" id="btn-visibility" [attr.aria-label]="isPaused ? 'Play' : 'Pause'" (click)="togglePause()">
    {{ isPaused ? 'Play' : 'Pause' }}
  </button>
  <button class="carousel-button prev" aria-label="Previous slide" (click)="moveSlide(-1)">❮</button>
  <button class="carousel-button next" aria-label="Next slide" (click)="moveSlide(1)">❯</button>
</div>
